# 构建和发布文件夹
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# 其他文件和文件夹
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# PDM的个人文件设置
.pdm-python
# JetBrains的.idea的极霸文件
.idea/
# 项目文件，即 `.project`、`.actionScriptProperties` 和 `.flexProperties`
# 不应被排除，因为它们包含编译器设置和其他重要内容
# Eclipse/Flash Builder 的信息。
