# 构建和发布文件夹
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# 其他文件和文件夹
.settings/

# YMB 的 配置文件
config.yaml
cloud.json
jieba_words.txt
dynamic_config.yaml

# 安装包
*.swf
*.air
*.ipa
*.apk

# PDM的个人文件设置
.pdm-python

# JetBrains s.r.o.的.idea的极霸文件
.idea/

# VSCode文件
.vscode/

# Pyinstaller
dist/
build/
